################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/PrecipitationDataApp/bin/WebGrease.dll
/PrecipitationDataApp/bin/System.Web.WebPages.xml
/PrecipitationDataApp/bin/System.Web.WebPages.Razor.xml
/PrecipitationDataApp/bin/System.Web.WebPages.Razor.dll
/PrecipitationDataApp/bin/System.Web.WebPages.dll
/PrecipitationDataApp/bin/System.Web.WebPages.Deployment.xml
/PrecipitationDataApp/bin/System.Web.WebPages.Deployment.dll
/PrecipitationDataApp/bin/System.Web.Razor.xml
/PrecipitationDataApp/bin/System.Web.Razor.dll
/PrecipitationDataApp/bin/System.Web.Optimization.xml
/PrecipitationDataApp/bin/System.Web.Optimization.dll
/PrecipitationDataApp/bin/System.Web.Mvc.xml
/PrecipitationDataApp/bin/System.Web.Mvc.dll
/PrecipitationDataApp/bin/System.Web.Helpers.xml
/PrecipitationDataApp/bin/System.Web.Helpers.dll
/PrecipitationDataApp/bin/roslyn
/PrecipitationDataApp/bin/PrecipitationDataAppModels.pdb
/PrecipitationDataApp/bin/PrecipitationDataAppModels.dll
/PrecipitationDataApp/bin/PrecipitationDataApp.pdb
/PrecipitationDataApp/bin/PrecipitationDataApp.dll.config
/PrecipitationDataApp/bin/PrecipitationDataApp.dll
/PrecipitationDataApp/bin/Newtonsoft.Json.xml
/PrecipitationDataApp/bin/Newtonsoft.Json.dll
/PrecipitationDataApp/bin/Microsoft.Web.Infrastructure.dll
/PrecipitationDataApp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
/PrecipitationDataApp/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
/PrecipitationDataApp/bin/Antlr3.Runtime.pdb
/PrecipitationDataApp/bin/Antlr3.Runtime.dll
/PrecipitationDataApp/obj/Debug/Tsc.out
/PrecipitationDataApp/obj/Debug/PrecipitationDataApp.pdb
/PrecipitationDataApp/obj/Debug/PrecipitationDataApp.dll
/PrecipitationDataApp/obj/Debug/PrecipitationDataApp.csprojAssemblyReference.cache
/PrecipitationDataApp/obj/Debug/PrecipitationDataApp.csproj.FileListAbsolute.txt
/PrecipitationDataApp/obj/Debug/PrecipitationDataApp.csproj.CoreCompileInputs.cache
/PrecipitationDataApp/obj/Debug/PrecipitationDataApp.csproj.CopyComplete
/PrecipitationDataApp/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/PrecipitationDataApp.Tests/bin/Debug/WebGrease.dll
/PrecipitationDataApp.Tests/bin/Debug/System.Web.WebPages.xml
/PrecipitationDataApp.Tests/bin/Debug/System.Web.WebPages.Razor.xml
/PrecipitationDataApp.Tests/bin/Debug/System.Web.WebPages.Razor.dll
/PrecipitationDataApp.Tests/bin/Debug/System.Web.WebPages.dll
/PrecipitationDataApp.Tests/bin/Debug/System.Web.WebPages.Deployment.xml
/PrecipitationDataApp.Tests/bin/Debug/System.Web.WebPages.Deployment.dll
/PrecipitationDataApp.Tests/bin/Debug/System.Web.Razor.xml
/PrecipitationDataApp.Tests/bin/Debug/System.Web.Razor.dll
/PrecipitationDataApp.Tests/bin/Debug/System.Web.Optimization.xml
/PrecipitationDataApp.Tests/bin/Debug/System.Web.Optimization.dll
/PrecipitationDataApp.Tests/bin/Debug/System.Web.Mvc.xml
/PrecipitationDataApp.Tests/bin/Debug/System.Web.Mvc.dll
/PrecipitationDataApp.Tests/bin/Debug/System.Web.Helpers.xml
/PrecipitationDataApp.Tests/bin/Debug/System.Web.Helpers.dll
/PrecipitationDataApp.Tests/bin/Debug/PrecipitationDataAppModels.pdb
/PrecipitationDataApp.Tests/bin/Debug/PrecipitationDataAppModels.dll
/PrecipitationDataApp.Tests/bin/Debug/PrecipitationDataApp.Tests.pdb
/PrecipitationDataApp.Tests/bin/Debug/PrecipitationDataApp.Tests.dll.config
/PrecipitationDataApp.Tests/bin/Debug/PrecipitationDataApp.Tests.dll
/PrecipitationDataApp.Tests/bin/Debug/PrecipitationDataApp.pdb
/PrecipitationDataApp.Tests/bin/Debug/PrecipitationDataApp.dll.config
/PrecipitationDataApp.Tests/bin/Debug/PrecipitationDataApp.dll
/PrecipitationDataApp.Tests/bin/Debug/Newtonsoft.Json.xml
/PrecipitationDataApp.Tests/bin/Debug/Newtonsoft.Json.dll
/PrecipitationDataApp.Tests/bin/Debug/Microsoft.Web.Infrastructure.dll
/PrecipitationDataApp.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
/PrecipitationDataApp.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
/PrecipitationDataApp.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
/PrecipitationDataApp.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
/PrecipitationDataApp.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
/PrecipitationDataApp.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
/PrecipitationDataApp.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
/PrecipitationDataApp.Tests/bin/Debug/Antlr3.Runtime.pdb
/PrecipitationDataApp.Tests/bin/Debug/Antlr3.Runtime.dll
/PrecipitationDataApp.Tests/obj/Debug/PrecipitationDataApp.Tests.pdb
/PrecipitationDataApp.Tests/obj/Debug/PrecipitationDataApp.Tests.dll
/PrecipitationDataApp.Tests/obj/Debug/PrecipitationDataApp.Tests.csprojAssemblyReference.cache
/PrecipitationDataApp.Tests/obj/Debug/PrecipitationDataApp.Tests.csproj.FileListAbsolute.txt
/PrecipitationDataApp.Tests/obj/Debug/PrecipitationDataApp.Tests.csproj.CoreCompileInputs.cache
/PrecipitationDataApp.Tests/obj/Debug/PrecipitationDataApp.Tests.csproj.CopyComplete
/PrecipitationDataApp.Tests/obj/Debug/.NETFramework,Version=v4.8.AssemblyAttributes.cs
/PrecipitationDb/PrecipitationDb.jfm
/PrecipitationDb/PrecipitationDb.dbmdl
